.products {
  padding: var(--spacer-md) 0 0 var(--spacer-md);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

app-product {
  flex-basis: calc(50% - var(--spacer-md));
  margin: 0 var(--spacer-md) var(--spacer-md) 0;
}

/* Desktop */
@media (min-width: 768px) {
  app-product {
    flex-basis: auto;
  }
}