<h2 mat-dialog-title>O nama</h2>

<mat-dialog-content>
  <p>
    Kontakt:<br>
    <a
      mat-stroked-button
      href="https://www.google.com/maps/place/Du%C5%A1anova+78b,+Ni%C5%A1+18000/@43.3176629,21.8986696,17z/data=!3m1!4b1!4m5!3m4!1s0x4755b0b09e374c2b:0xacd8526f00adc251!8m2!3d43.3176629!4d21.9008583"
      target="_blank">
      <i class="fas fa-map-marker"></i> Cara Dušana 78b, 18000 Niš
    </a>
    <a mat-stroked-button href="mailto:gamestudionis@gmail.com">
      <i class="fas fa-envelope fa-fw"></i> gamestudionis@gmail.com
    </a>
    <a mat-stroked-button href="tel:+381607418012">
      <i class="fas fa-mobile fa-fw"></i> 060 741 8012
    </a>
    <a mat-stroked-button href="viber://chat?number=+381607418012">
      <i class="fab fa-viber fa-fw"></i> 060 741 8012
    </a>
  </p>

  <p>
    Društvene mreže:<br>
    <a
      mat-stroked-button
      href="https://www.facebook.com/gamestudionis"
      target="_blank">
      <i class="fab fa-facebook-square fa-fw"></i> Facebook
    </a>
    <a
      mat-stroked-button
      href="https://www.instagram.com/game_studio_rs"
      target="_blank">
      <i class="fab fa-instagram fa-fw"></i> Instagram
    </a>
  </p>

  <p>
    Radno vreme:<br>
    <i class="far fa-clock fa-fw"></i> 10:00h - 20:00h<br>
    <i class="far fa-clock fa-fw"></i> 10:00h - 15:00h subotom<br>
    <i class="far fa-clock fa-fw"></i> Nedeljom ne radimo
  </p>

  <p>
    Metode plaćanja:<br>
    <i class="fab fa-cc-paypal fa-3x fa-fw"></i>
    <i class="fab fa-cc-visa fa-3x fa-fw"></i>
    <i class="fab fa-cc-mastercard fa-3x fa-fw"></i>
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Izlaz</button>
</mat-dialog-actions>